@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.background-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 100%;
}

.header1 {
    bottom: 390px;
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.paragraph1 {
    bottom: 390px;
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.logo-img {
    bottom: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.mouse-img {
    bottom: 315px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header2 {
    bottom: 220px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.paragraph2 {
    bottom: 200px;
    position: relative;
    text-align: center;
}

.services-img {
    bottom: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    position: relative;
    width: 100%;
}

.header3 {
    bottom: 420px;
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.paragraph3 {
    bottom: 380px;
    color: #fff;
    position: relative;
    text-align: center;
}

.header4 {
    bottom: 240px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.header5 {
    bottom: 75px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

#design-icon {
    bottom: 170px;
    position: relative;
}

.para1 {
    bottom: 170px;
    left: 15px;
    position: relative;
}

#dev-icon {
    bottom: 170px;
    left: 130px;
    position: relative;
}

.para2 {
    bottom: 170px;
    position: relative;
    left: 125px;
}

#pm-icon {
    bottom: 177px;
    left: 252px;
    position: relative;
}

.para3 {
    bottom: 180px;
    position: relative;
    left: 220px;
}

#show-design {
    cursor: pointer;
    display: none;
    bottom: 180px;
    position: relative;
}

#show-development {
    cursor: pointer;
    display: none;
    bottom: 180px;
    position: relative;
}

#show-pm {
    cursor: pointer;
    display: none;
    bottom: 180px;
    position: relative;
}

#hide-design {
    cursor: pointer;
}

#hide-development {
    cursor: pointer;
}

#hide-pm {
    cursor: pointer;
}

.f-pic {
    cursor: pointer;
    bottom: 30px;
    left: 15px;
    position: relative;
    width: 100%;
}

.s-pic {
    cursor: pointer;
    left: 350px;
    position: relative;
    bottom: 292px;
    width: 100%;
}

.t-pic {
    cursor: pointer;
    bottom: 553px;
    left: 685px;
    position: relative;
    width: 100%;
}

.fo-pic {
    cursor: pointer;
    bottom: 815px;
    left: 1020px;
    position: relative;
    width: 100%;
}

.fi-pic {
    cursor: pointer;
    bottom: 800px;
    left: 15px;
    position: relative;
    width: 100%;
}

.si-pic {
    cursor: pointer;
    left: 350px;
    position: relative;
    bottom: 1062px;
    width: 100%;
}

.se-pic {
    cursor: pointer;
    bottom: 1323px;
    left: 685px;
    position: relative;
    width: 100%;
}

.e-pic {
    cursor: pointer;
    bottom: 1585px;
    left: 1020px;
    position: relative;
    width: 100%;
}

.contact {
    background: url(images/c_image.jpg);
    width: 100%;
    bottom: 1500px;
    position: relative;
}

.form-control:focus,
.form-control:active {
    background: transparent;
}

.form-control {
    background: transparent;
}