* {
    margin: 5px;
    padding: 0;
}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.header1 {
    bottom: 335px;
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.paragraph1 {
    bottom: 340px;
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.logo-img {
    bottom: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.mouse-img {
    bottom: 315px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header2 {
    bottom: 250px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.paragraph2 {
    bottom: 250px;
    position: relative;
    text-align: center;
}

.services-img {
    bottom: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 84%;
}

.header3 {
    bottom: 427px;
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.paragraph3 {
    bottom: 420px;
    color: #fff;
    position: relative;
    text-align: center;
}