.img1 {
    width: 100%;
}

.header1 {
    bottom: 396px;
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.paragraph1 {
    bottom: 390px;
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}